{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'index.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <!-- Option 1: Include in HTML -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <title>Document</title>
</head>

<body>


    <!-- navbar -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a href="{% url 'home' %}"><img src="{% static 'images/images.jpeg' %}" class="icon" alt="..."></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="#about">About</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Portfolio
                        </a>
                        <li class="nav-item">
                        <a class="nav-link" href="#about">Portfolio</a>
                    </li>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contact">Contact Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'signin' %}">Sign In/Sign Up</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="popup">
        <button id="close">&times;</button>
        <h2>Let's Goooo!!!</h2>
        <img class="img-popup" src="{% static 'images/IMG-20240206-WA0017.jpg' %}" alt=""><br><br>
        <a href="{% url 'trip' %}">Let's Go</a>
    </div>
    <h1>Welcome, {{ user.username }}!</h1>

    <div class="about" id="about">
        <div class="text">
            <h1>We Take Care Of Your Trip</h1>
            <img class="about-img" src="{% static 'images/Kenyan Coast.jpeg' %}" alt="">
            <p>Embark on a journey with us at Twende Safaris. As passionate explorers, we curate unforgettable
                experiences to enchanting destinations. Our expert team is dedicated to turning your travel dreams into
                reality, ensuring every adventure is a tale worth telling. Discover, explore, and create lifelong
                memories with Twende Safaris.</p>
        </div>
    </div>

    <h2>PORTFOLIO</h2>

    <div class="carousel">
        <!-- list item -->
        <div class="list">
            <div class="item">
                <img src="{% static 'images/CROIG.jpeg' %}">
                <div class="content">
                    <div class="author">Twende</div>
                    <div class="title">Curved Road</div>
                    <div class="topic">TRAVEL</div>
                    <div class="des">
                        <!-- lorem 50 -->
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut sequi, rem magnam nesciunt minima placeat, itaque eum neque officiis unde, eaque optio ratione aliquid assumenda facere ab et quasi ducimus aut doloribus non numquam. Explicabo, laboriosam nisi reprehenderit tempora at laborum natus unde. Ut, exercitationem eum aperiam illo illum laudantium?
                    </div>
                    <div class="buttons">
                        <button>SEE MORE</button>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="{% static 'images/travelcar.jpeg' %}">
                <div class="content">
                    <div class="author">TWENDE</div>
                    <div class="title">Travel Car</div>
                    <div class="topic">TRAVEL</div>
                    <div class="des">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut sequi, rem magnam nesciunt minima placeat, itaque eum neque officiis unde, eaque optio ratione aliquid assumenda facere ab et quasi ducimus aut doloribus non numquam. Explicabo, laboriosam nisi reprehenderit tempora at laborum natus unde. Ut, exercitationem eum aperiam illo illum laudantium?
                    </div>
                    <div class="buttons">
                        <button>SEE MORE</button>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="{% static 'images/night.jpg' %}">
                <div class="content">
                    <div class="author">TWENDE</div>
                    <div class="title">CAMP NDUNDA</div>
                    <div class="topic">ROAD TRIP</div>
                    <div class="des">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut sequi, rem magnam nesciunt minima placeat, itaque eum neque officiis unde, eaque optio ratione aliquid assumenda facere ab et quasi ducimus aut doloribus non numquam. Explicabo, laboriosam nisi reprehenderit tempora at laborum natus unde. Ut, exercitationem eum aperiam illo illum laudantium?
                    </div>
                    <div class="buttons">
                        <button>SEE MORE</button>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="{% static 'images/twendesafaris.png' %}">
                <div class="content">
                    <div class="author">TWENDE</div>
                    <div class="title">VIEWPOINT</div>
                    <div class="topic">PEOPLE</div>
                    <div class="des">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut sequi, rem magnam nesciunt minima placeat, itaque eum neque officiis unde, eaque optio ratione aliquid assumenda facere ab et quasi ducimus aut doloribus non numquam. Explicabo, laboriosam nisi reprehenderit tempora at laborum natus unde. Ut, exercitationem eum aperiam illo illum laudantium?
                    </div>
                    <div class="buttons">
                        <button>SEE MORE</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- list thumnail -->
        <div class="thumbnail">
            <div class="item">
                <img src="{% static 'images/CROIG.jpeg' %}">
                <div class="content">
                    <div class="title">
                        Name Slider
                    </div>
                    <div class="description">
                        Description
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="{% static 'images/travelcar.jpeg' %}">
                <div class="content">
                    <div class="title">
                        Name Slider
                    </div>
                    <div class="description">
                        Description
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="{% static 'images/night.jpg' %}">
                <div class="content">
                    <div class="title">
                        Name Slider
                    </div>
                    <div class="description">
                        Description
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="{% static 'images/twendesafaris.png' %}">
                <div class="content">
                    <div class="title">
                        Name Slider
                    </div>
                    <div class="description">
                        Description
                    </div>
                </div>
            </div>
        </div>
        <!-- next prev -->

        <div class="arrows">
            <button id="prev"><</button>
            <button id="next">></button>
        </div>
        <!-- time running -->
        <div class="time"></div>
    </div>


    <!-- contactus section -->

    <div class="Contact">
        <h2>CONTACT US</h2>
        <div class="contact-container">
            <form action="https://api.web3forms.com/submit" method="POST" class="contact-left">
                <div class="contact-left-title">
                    <h2 id="contact">Get In Touch</h2>
                </div>
                <input type="hidden" name="access_key" value="b8e9a704-6a30-442d-94b7-195604fe32e7">
                <input type="text" name="name" placeholder="Your Name" class="contact-inputs">
                <input type="email" name="email" placeholder="Your Email" class="contact-inputs">
                <textarea name="message" class="contact-inputs" placeholder="Your Message"></textarea>
                <button type="submit">Submit <i class="bi bi-arrow-up-right-circle-fill"></i></button>
            </form>
            <div class="contact-right">
                <img src="{% static 'images/undraw_respond_re_iph2.svg' %}" alt="">
            </div>
        </div>
    </div>

    <script src="{% static 'index.js'%}"></script>
    <script type="text/javascript">
        window.addEventListener("load", function () {
            setTimeout(
                function open(event) {
                    document.querySelector(".popup").style.display = "block";
                },
                2000
            )
        });


        document.querySelector("#close").addEventListener("click", function () {
            document.querySelector(".popup").style.display = "none";
        });
    </script>

</body>

</html>